<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Book">
    <insert id="insertBook">
        insert into text (title, writer, publisher, price, pages, sizes, weight, topic, content)
        values
        (#{title}, #{writer}, #{publisher}, #{price}, #{pages}, #{sizes}, #{weight}, #{topic}, #{content})
    </insert>

    <update id="updateBook">
        update text
        set title=#{title}, writer=#{writer}, publisher=#{publisher}, price=#{price}, pages=#{pages}, sizes=#{sizes}, weight=#{weight}, topic=#{topic}, content=#{content}
        where sid=#{sid}
    </update>

    <delete id="deleteBook">
        delete from text where sid=#{sid}
    </delete>

    <select id="getBook" resultType="book">
        select * from text where sid=#{sid}
    </select>

    <select id="getBookList" resultType="book">
        select * from text order by sid desc
    </select>
</mapper>
